*
  box-sizing: border-box

a 
  text-decoration: none

button
  cursor: pointer

body
  font-family: 'Muli Regular', sans-serif
  background-color: #F5FAFE
  color: $dark-gray

.container
  max-width: 1110px
  margin: auto
